Repository ramcana/wan: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-health-check, config-validation, doc-link-check, import-validation, performance-check, security-config-check

Path conditions:
  test-health-check: any of: ^(tests/|backend/|scripts/).*\.py$
  config-validation: any of: ^config/.*\.(yaml|yml|json)$
  doc-link-check: any of: ^docs/.*\.md$
  import-validation: any of: ^(backend/|scripts/|tests/).*\.py$
  performance-check: any of: ^(backend/|scripts/).*\.py$
  security-config-check: any of: ^config/.*\.(yaml|yml|json)$

docs: Add comprehensive repository architecture guide
  docs/REPOSITORY_ARCHITECTURE.md
Due: doc-link-check

fix: Update GitHub Actions artifact actions from v3 to v4
  .github/workflows/config-validation.yml
  .github/workflows/health-check.yml
Due: none

feat: Phase 1 MVP - Complete WAN Models Integration
  .github/workflows/deployment-gates.yml
  .github/workflows/docs-build.yml
  .github/workflows/test-suite.yml
  backend/api/enhanced_generation.py
  backend/app.py
  cli/commands/wan.py
  cli/main.py
  core/services/__init__.py
  docs/PHASE_1_MVP_GUIDE.md
  frontend/src/components/generation/GenerationForm.tsx
  local_testing_framework/examples/automation/ci_cd_pipeline.yml
  scripts/deploy_phase1_mvp.py
  test_phase1_basic.py
  tests/test_wan_models_phase1.py
Due: test-health-check, doc-link-check, import-validation, performance-check

chore: Update configuration and CI/CD
  .github/workflows/health-check.yml
Due: none

feat: Enhance backend core systems
  backend/api/fallback_recovery.py
  backend/core/enhanced_error_recovery.py
  backend/core/model_integration_bridge.py
  backend/core/model_update_manager.py
  backend/core/system_integration.py
  backend/examples/hardware_optimization_integration_example.py
  backend/examples/integrated_error_handler_example.py
  backend/examples/intelligent_fallback_manager_demo.py
  backend/examples/websocket_model_notifications_demo.py
  backend/services/generation_service.py
Due: test-health-check, import-validation, performance-check

feat: Improve CLI and automation scripts
  scripts/performance-validation.py
  scripts/run-comprehensive-tests.py
  scripts/setup_alerting.py
  scripts/simple_enforcement_test.py
  scripts/startup_manager/cli.py
  scripts/startup_manager/config.py
  scripts/validate_organization.py
Due: test-health-check, import-validation, performance-check

feat: Enhance frontend and infrastructure systems
  core/services/quantization_integration_example.py
  frontend/ui_event_handlers_enhanced.py
  frontend/ui_event_handlers_enhanced_backup_rtx4080.py
  infrastructure/hardware/optimize_performance.py
  infrastructure/hardware/performance_benchmark_suite.py
  infrastructure/hardware/wan22_performance_optimizer.py
  local_installation/test_health_reporter.py
  local_installation/test_model_configuration.py
  local_installation/test_reliability_deployment_config.py
  local_testing_framework/integration_tester.py
  local_testing_framework/tests/test_integration_tester.py
  local_testing_framework/tests/test_performance_tester.py
  local_testing_framework/tests/test_report_generator.py
  local_testing_framework/tests/test_sample_manager.py
Due: none

chore: Add final cleanup and development tools
  SYNTAX_ERROR_FIXING_PROGRESS_REPORT.md
  TEST_ASSERTION_FIXING_PROGRESS.md
  backups/naming/naming_fixes_20250902_130341/test_backup.py
  comprehensive_import_fixer.py
  comprehensive_syntax_fixer.py
  fix_project_syntax_errors.py
  fix_test_assertions.py
  simple_assertion_fixer.py
  targeted_syntax_fixer.py
  test_assertion_finder.py
  test_cleanup_report.json
Due: none

fix: Resolve syntax errors and enhance project infrastructure
  config/schemas/config-schema.json
  fix_test_assertions.py
  tests/comprehensive/test_cleanup_quality_suite.py
Due: test-health-check, config-validation, import-validation, security-config-check

Add requirements.txt for Linux development environment
  performance-config.json
  requirements.txt
  tools/health-checker/automated_monitoring.py
  tools/health-checker/task_9_3_implementation.py
Due: none

Fix health monitoring system syntax errors and missing methods
  tools/health-checker/checkers/__init__.py
  tools/health-checker/checkers/code_quality_checker.py
  tools/health-checker/checkers/configuration_health_checker.py
  tools/health-checker/checkers/documentation_health_checker.py
  tools/health-checker/health_checker.py
Due: none

fix: improve dependency installation in code-quality workflow
  .github/workflows/code-quality.yml
Due: none

fix: resolve deployment gates workflow issues
  .github/workflows/deployment-gates.yml
Due: none

chore: update coverage report and clean up test artifacts
  coverage.xml
  test-health.json
Due: none

Fix deployment gates workflow failures and improve code quality
  .github/workflows/code-quality.yml
  .github/workflows/deployment-gates.yml
  DEPLOYMENT_GATES_FIX_SUMMARY.md
  backend/__init__.py
  coverage.xml
  fix_deployment_gates.py
  quality-report.json
  test-results.xml
  tests/test_basic.py
  tools/code-quality/analyzers/__init__.py
  tools/code-quality/analyzers/complexity_analyzer.py
  tools/code-quality/cli.py
  tools/code-quality/demo_enforcement_system.py
  tools/code-quality/enforcement/__init__.py
  tools/code-quality/enforcement/ci_integration.py
  tools/code-quality/enforcement/pre_commit_hooks.py
  tools/code-quality/example_usage.py
  tools/code-quality/formatters/__init__.py
  tools/code-quality/formatters/code_formatter.py
  tools/code-quality/models.py
  tools/code-quality/quality_checker.py
  tools/code-quality/test_enforcement_system.py
  tools/code-quality/validators/__init__.py
  tools/code-quality/validators/documentation_validator.py
  tools/code-quality/validators/style_validator.py
  tools/code-quality/validators/type_hint_validator.py
  tools/deployment-gates/simple_test_runner.py
  tools/health-checker/simple_health_check.py
  validate_deployment_gates.py
Due: test-health-check, import-validation, performance-check

Fix deployment gate health check failures
  deployment-status.json
  fix_deployment_gates_ci.py
  tools/deployment-gates/deployment_gate_status.py
  tools/health-checker/simple_health_check.py
  validation-deployment.json
  validation-health.json
Due: none

Fix floating point comparisons in deployment gates workflow
  .github/workflows/deployment-gates.yml
Due: none

Add comprehensive debugging to deployment gates workflow
  .github/workflows/deployment-gates.yml
Due: none

Add deployment gate testing and emergency fix scripts
  emergency_fix_health_gate.py
  test_deployment_gates_locally.py
Due: none

Apply emergency fix for deployment gates with bulletproof fallback
  .github/workflows/deployment-gates.yml
  coverage.xml
  current-health-report.json
  deployment-status.json
  health-report.json
  test-results.xml
  tools/health-checker/bulletproof_health_check.py
  validation-deployment.json
Due: none

Fix CI/CD pipeline dependency and deployment gate issues
  .github/workflows/code-quality.yml
  .github/workflows/deployment-gates.yml
  coverage.xml
  requirements-ci.txt
  requirements-dev.txt
  requirements.txt
  tools/code-quality/ci_quality_check.py
  validation-deployment.json
  validation-health.json
Due: none

Update GitHub Actions to latest versions
  .github/workflows/code-quality.yml
  .github/workflows/deployment-gates.yml
Due: none

Fix remaining CI workflow issues
  .github/workflows/deployment-gates.yml
  .github/workflows/test-suite.yml
Due: none

Fix CI workflow Python indentation errors
  .github/workflows/config-validation.yml
  .github/workflows/deployment-gates.yml
  .github/workflows/test-suite.yml
Due: none

feat: improve CI/CD pipeline and add basic test infrastructure
  .github/workflows/test-suite.yml
  requirements-ci.txt
  requirements.txt
  simple_health_check.py
  tests/integration/test_basic_integration.py
  tests/performance/test_basic_performance.py
Due: test-health-check, import-validation

update: health report shows 100/100 score after CI improvements
  health-report.json
Due: none

fix: improve test infrastructure robustness
  tests/conftest.py
  tests/test_basic.py
Due: test-health-check, import-validation

fix: correct indentation in startup manager CLI
  scripts/startup_manager/cli.py
Due: test-health-check, import-validation, performance-check

fix: correct import path in config validator
  tools/config_manager/config_validator.py
Due: none

feat: implement WAN model integration and progress tracking
  .kiro/specs/real-video-generation-models/design.md
  .kiro/specs/real-video-generation-models/requirements.md
  .kiro/specs/real-video-generation-models/tasks.md
  TASK_7_COMPLETION_SUMMARY.md
  WAN_MODEL_INTEGRATION_BRIDGE_ENHANCEMENT_SUMMARY.md
  WAN_MODEL_PROGRESS_TRACKING_IMPLEMENTATION_SUMMARY.md
  test_wan_error_handler_requirements.py
  test_wan_model_integration_bridge.py
  test_wan_pipeline_loader_simple.py
  test_wan_pipeline_loader_task7.py
  test_wan_pipeline_loader_task7_focused.py
  test_wan_progress_integration.py
  tests/test_wan_i2v_a14b.py
  tests/test_wan_model_error_handler.py
Due: test-health-check, import-validation

feat: update backend infrastructure for WAN model support
  backend/core/model_integration_bridge.py
  backend/services/real_generation_pipeline.py
  backend/websocket/progress_integration.py
  core/services/enhanced_generation_pipeline.py
  core/services/wan_pipeline_loader.py
Due: test-health-check, import-validation, performance-check

feat: add server management and startup scripts
  backend.pid
  run_backend.sh
  start_backend_bg.sh
  start_frontend.bat
  start_frontend_dev.sh
  stop_backend.sh
Due: none
